version: "3.9"

services:
  db:
    image: mysql:8
    container_name: metadata_db
    environment:
      MYSQL_DATABASE: metadata
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build: .
    container_name: metadata_api
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"

volumes:
  mysql_data: